.zoomable-video {
    width: 1000px;
    height: 440px;
    transition: width 0.7s, height 0.7s;
}

.zoomable-video:hover {
    width: 1200px;
    height: 528px;
}

.zoomable-icon {
    font-size: 20px; /* ขนาดเริ่มต้น */
    transition: font-size 0.7s; /* เอฟเฟกต์เวลา hover */
}

.zoomable-icon:hover {
    font-size: 30px; /* ขนาดขยายเมื่อ hover */
}